.chips-div {
  padding: 0.8rem 2rem;
  background: var(--background-secondary-color);
  border-top: 1px solid var(--background-light-color);
  /* display: none; */
}
.btn-round {
  border-radius: 2rem;
  font-size: 0.8rem;
  background-color: var(--background-light-color);
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid var(--action-color);
}
.btn-round:hover {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--background-light-color);
}
.active {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--background-light-color);
}
