.history-container {
  display: flex;
  padding: 2rem 5rem;
  gap: 2rem;
}
.history-list {
  width: 100%;
}
.history-info {
  width: 60%;
}
.history-video {
  display: flex;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--background-secondary-color);
  align-items: center;
}
.xl-img {
  width: 25%;
}
.flex-history {
  display: flex;
  gap: 2rem;
}
