.home-top {
  /* border: 1px solid red; */
  height: 100vh;
  box-shadow: inset 12em -2em 8em 1em var(--background-primary-color);
  background-color: var(--background-secondary-color);
}
.home {
  display: grid;
  /* margin: 3rem; */
  padding: 3rem;
  grid-template-columns: 0.4fr 0.6fr;
}
.home-aside {
  /* border: 1px solid red; */
  /* background-color: var(--background-secondary-color); */
}
.home-txt {
  font-size: 2.6rem;
  /* margin-top: 2rem; */
  padding: 1rem;
  letter-spacing: 2px;
}
.home-video {
  /* border: 1px solid green; */
}
.video {
  height: 400px;
  margin-top: 2rem;
}
.video-iframe {
  width: 100%;
  height: 100%;
}
.highlight-txt {
  color: var(--action-color);
  margin-left: 4px;
}
