.banner {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--background-primary-color),
    var(--background-secondary-color),
    var(--gradient-color)
  );
}

.landing-bg-video {
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.home-txt {
  font-size: 2.6rem;
  letter-spacing: 3px;
  width: 38%;
}

.highlight-txt {
  color: var(--action-color);
  margin-left: 4px;
}
.landing-info {
  margin-left: 4rem;
  margin-top: 5rem;
}
.home-logo {
  font-size: 4rem;
  padding-top: 1rem;
  margin-bottom: 10px;
}

.landing-btn {
  background-color: var(--background-secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--action-color);
  padding: 1rem 1.2rem;
  border-radius: 26px;
  font-size: 1.1rem;
  margin: 1rem 0px;
  cursor: pointer;
  transition: all 0.2s;
  letter-spacing: 2px;
}
.landing-btn:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--background-secondary-color);
}

.category-box {
  display: flex;
}
.home-category {
  margin-top: 2rem;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-image: linear-gradient(to right, black 100%, #434343 0%);
  margin-right: 2rem;
  padding: 1rem;
  opacity: 0.9;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;

  box-shadow: var(--gradient-color) 0px -50px 36px -28px inset;
}
.home-category:hover {
  margin-top: -2px;
  box-shadow: var(--gradient-color) 0px 20px 30px -10px;
}

@media (max-width: 1190px) {
  .home {
    grid-template-columns: 1fr;
  }
  .category-box {
    position: static;
  }
  .video {
    display: none;
  }
  .category-box {
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
}
