.no-dataicon {
  color: var(--action-color);
  font-size: 16rem;
}
.nodata-container {
  text-align: center;
  width: 100%;
  opacity: 0.4;
  margin-top: 4rem;
}
.nodata-container > p {
  letter-spacing: 1px;
}
