.player-container {
  padding: 3rem 4rem;
}
.player {
  width: 80%;
}
.player-details {
  padding: 1rem 0.8rem;
}

.player-options {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 1.2rem;
}
.player-nav {
  margin-left: 1rem;
  color: gray;
  cursor: pointer;
}
.player-nav:hover {
  color: var(--primary-color);
}
.player-icon {
  margin-right: 0.4rem;
  font-size: 0.8rem;
}

.line {
  border-bottom: 1px solid gray;
  margin: 0.5rem;
}
.light-name {
  color: gray;
}

.margin-rt {
  margin-right: 0.5rem;
}
.fa-trash {
  font-size: 1rem;
  opacity: 0.5;
  cursor: pointer;
}
.fa-trash:hover {
  opacity: 0.8;
}

/* loader */

.loader-hourglass {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  /* border: 1px solid red; */
  left: 50%;
  right: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.loader-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 52px solid;
  border-color: #9c7178 transparent gray transparent;
  animation: loader-hourglass 1.6s infinite;
}
@keyframes loader-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(300deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(900deg);
  }
}
