.menu {
  position: fixed;
  background-color: var(--background-secondary-color);
  width: 15.6rem;
  height: 100vh;
  top: 3.96rem;
  z-index: 7;
  transform: translateX(-280px);
  transition: all 0.5s;
  overflow-y: auto;
}
.visible {
  transform: translateX(-15px);
}
.menu-nav {
  margin-top: 1rem;
  border-top: 1px solid var(--background-light-color);
}
.menu-icon-div {
  display: flex;
  padding: 1.4rem 1.6rem;
  font-size: 1.2rem;
  color: var(--primary-color);
  transition: all 0.3s;
}
.menu-icon {
  margin-right: 2rem;
  font-size: 1.4rem;
}
.menu-icon-div:hover {
  background-color: var(--background-light-color);
}
@media (max-width: 550px) {
  .menu-nav {
    border: none;
  }
}
