.sidebar {
  background-color: var(--background-secondary-color);
  position: fixed;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 80px;
  text-align: center;
  /* display: none; */
  z-index: 8;
}
.side-icon-div {
  margin-bottom: 2rem;
  color: var(--primary-color);
}
.side-icon-div p {
  font-size: 0.7rem;
  margin-top: 5px;
  letter-spacing: 1px;

  text-transform: capitalize;
  text-transform: uppercase;
}
.side-icon {
  font-size: 1.5rem;
}
.side-nav {
  margin-top: 2rem;
}
.hamburger {
  margin-top: 1.2rem;
  cursor: pointer;
}
.xxl {
  font-size: 2.5rem;
}
