@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Quicksand:wght@300&family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("/node_modules/mockman-js/dist/style.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
:root {
  --primary-color: #f5f5f4;
  --secondary-text: #aaaaaa;

  /* --secondary-color: #3e4152; */
  /* --action-color: #f26430;confused */
  --action-color: #9c7178;
  --gradient-color: #380912;
  --background-secondary-color: #212121;
  --background-primary-color: #030303;

  --background-light-color: #353535;
  --error-color: #ef4444;
}

html {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  background-color: var(--background-primary-color);
}

img {
  max-inline-size: 100%;
  block-size: auto;
}
a {
  color: #000;
}
@media (max-width: 840px) {
  html {
    font-size: 92%;
  }
}
@media (max-width: 540px) {
  html {
    font-size: 100%;
  }
}
