@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Quicksand:wght@300&family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("/node_modules/mockman-js/dist/style.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
:root {
  --primary-color: #fff;

  /* --secondary-color: #3e4152; */
  /* --action-color: #f26430;confused */
  --action-color: #9c7178;
  --background-secondary-color: #212121;
  --background-primary-color: #030303;
  --background-light-color: #353535;
}

html {
  /* font-size: 50%; */
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

img {
  max-inline-size: 100%;
  block-size: auto;
}
a {
  color: #000;
}
