nav {
  display: flex;
  background-color: var(--background-secondary-color);
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
}
.logo {
  font-size: 2rem;
}
.fa-reddit {
  color: var(--action-color);
}
.search-div {
  width: 50%;
  background-color: var(--background-primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-div .search {
  /* border: 2px solid var(--background-secondary-color); */
  border: none;
  background: transparent;
  padding: 0.5rem;
  width: 80%;
  color: var(--primary-color);
  font-size: 1.4rem;
}
.search:focus {
  outline: none;
}
.fa-magnifying-glass {
  font-size: 1.5rem;
  /* background-color: var(--background-secondary-color); */
  padding: 8px 1rem;
  border-left: 2px solid var(--background-secondary-color);
}
.fa-microphone-lines {
  font-size: 1.5rem;
  padding: 8.5px 1rem;
  border-radius: 50%;
  background-color: var(--background-secondary-color);
}
.btn {
  background-color: var(--background-primary-color);
  padding: 0.7rem;
}
