nav {
  display: flex;
  background-color: var(--background-secondary-color);
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 9;
}

.nav-menu-bar {
  margin-right: 2rem;
  margin-left: 0.8rem;
  cursor: pointer;
}

.logo {
  font-size: 2rem;
}
.fa-reddit {
  color: var(--action-color);
}
.search-div {
  width: 50%;
  background-color: var(--background-primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-div .search {
  border: none;
  background: transparent;
  padding: 0.5rem;
  width: 80%;
  color: var(--primary-color);
  font-size: 1.4rem;
}
.search:focus {
  outline: none;
}
.search-icon {
  font-size: 1.8rem;
  padding: 9px 1rem;
  background-color: var(--background-light-color);
}
.fa-microphone-lines {
  font-size: 1.5rem;
  padding: 8.5px 1rem;
  border-radius: 50%;
  background-color: var(--background-secondary-color);
}
.btn {
  background-color: var(--background-primary-color);
  padding: 0.7rem;
}
.fa-circle-user {
  margin: 0 8px;
  font-size: 1rem;
}
@media (max-width: 1240px) {
  .logo {
    margin-left: 0.5rem;
  }
}
@media (max-width: 1070px) {
  .sidebar {
    border: 1px solid red;
    display: none;
    transform: translateX(-100px);
  }
  .nav-menu-bar {
    display: inline;
    margin-right: 1rem;
  }
  .logo {
    margin-left: 0;
  }
}
@media (max-width: 720px) {
  .search-div {
    display: none;
  }
}
@media (max-width: 540px) {
  .logo {
    font-size: 1.6rem;
  }
  .btn {
    font-size: 0.9rem;
  }
}
